$color--white = #f3eee8
$color--black = #131112
$color--primary = #4c19cd;
$color--secondary = #b79ced;
$color--secondary--alt = #8377ef;
$color--tertiary = #f46197;
$color--tertiary--alt = #c65b7c;
$color--quaternary = #00c49a;
$color--quinary = #E9E3B4;
// #6B4B3E

$color-names ?= 'white', 'black', primary, secondary, secondary--alt, tertiary, tertiary--alt, quaternary, quinary

generate-colors()
  for $name in $color-names
    $color = lookup('$color--' + $name)

    .{$name}
      background-color $color !important
      border-color $color !important

    .text--{$name}
      color $color !important
      caret-color $color !important

generate-colors()
