footer#footer
  padding-top size(8)
  padding-bottom size(6)
  color alpha($color--white, 0.5)
  position relative
  overflow hidden
  z-index 2

  .round-background
    top 0
    z-index -1
    background-color $color--black

  .footer__wrapper
    // width fit-content
    max-width size(74)
    text-align center
    display flex
    align-items center
    flex-direction column
    margin 0 auto

  .footer__logo
    display block
    width size(14)
    min-width size(14)
    margin-bottom size(4)
    opacity 0.5
    transition opacity 0.2s
    link-interactive-off()

    .asso
      opacity 0.5

    .asso, .mast
      fill white
      transition all 0.2s

    &:hover
      opacity 1

      .asso
        opacity 1
        fill $color--secondary

  .footer__copyright
    z-index 1
    opacity 0.5
    padding-top size(2)

  ul.menu
    > li.menu-item
      padding-bottom size(3)

      a[href]
        link-interactive-on()
        color inherit

        &:hover
          color alpha($color--white, 1)
