footer#footer
  padding size(4)
  padding-top 200px
  color alpha($color--white, 0.5)
  position relative
  overflow hidden

  .background
    content ''
    display block
    position absolute
    top 0
    left 50%
    transform translate(-50%, 0)
    $s = 256
    width 100%
    height 100vw
    min-width size($s)
    min-height size($s)
    border-top-left-radius size($s / 2)
    border-top-right-radius size($s / 2)
    background-color $color--black

  .content
    max-width size(80)
    margin 0 auto

  ul.menu
    > li.menu-item
      margin-bottom size(2)

      a[href]
        link-interactive-on()
        color inherit

        &:hover
          color alpha($color--white, 1)

+media-up('lg')
  footer#footer
    .background
      border-top-left-radius 100vw
      border-top-right-radius 100vw
