footer#footer
  padding size(4)
  padding-top 200px
  color alpha($color--white, 0.5)
  position relative
  overflow hidden

  .round-background
    top 0
    background-color $color--black

  .content
    max-width size(80)
    margin 0 auto

  ul.menu
    > li.menu-item
      margin-bottom size(2)

      a[href]
        link-interactive-on()
        color inherit

        &:hover
          color alpha($color--white, 1)
