.hero
  width 100%
  height 150vh
  background-size cover
  position relative

.hero__shade
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  color white
  font-weight bold
  font-size 36px
  background-image linear-gradient(alpha($color--white, 0.8) 0%, alpha(lighten($color--secondary, 25%), 0.45) 45%)

.hero__content
  position absolute
  top 0
  left 0
  right 0
  height 100vh
  display flex
  align-items center
  justify-content center
  flex-direction column
  text-align center
  color $color--black
  margin size(3)
  padding-bottom 15vh

  p
    font-size size(2.5)
    line-height size(3.5)
    max-width size(60)

.hero__logo
  width size(32)
  margin-bottom size(2)

  .asso
    fill lighten($color--primary, 5%)

  .mast
    fill $color--black

.hero__ctas
  margin-top size(2)

  button
    margin size(0.75)

+media-down('xs')
  .hero__logo
    width size(28)

+media-down('xxs')
  .hero__logo
    width size(24)

  .hero__content
    p
      font-size size(2)
      line-height size(3)

.scroll-discover
  $size = 15
  position absolute
  bottom size(10)
  color $color--black
  cursor pointer
  width size($size)
  height size($size)
  border 1px dashed $color--black
  border-radius size(($size / 2))
  display flex
  justify-content center
  align-items center
  flex-direction column
  transition border 0.2s ease

  svg
    fill $color--black

  &__text
    margin-bottom size(1)

  &__arrow
    animation scroll-discover-bounce 7s linear infinite

  &__text, &__arrow
    transition color 0.2s ease

.scroll-discover:hover
  border 2px solid $color--primary

  .scroll-discover__text, .scroll-discover__arrow
    color $color--primary

  svg
    fill $color--primary

@keyframes scroll-discover-bounce
  80%
    transform translateY(0)

  83%
    transform translateY(5px)

  85%
    transform translateY(7px)

  90%
    transform translateY(0)

  93%
    transform translateY(5px)

  95%
    transform translateY(7px)

  100%
    transform translateY(0)
