@import './functions.styl'
@import './fonts.styl'
@import './colors.styl'
@import './spacing.styl'
@import './elevations.styl'
@import './interactivity.styl'
@import './responsivity.styl'
@import './typography.styl'
@import './nav.styl'
@import './logo.styl'
@import './mouse.styl'
@import './button.styl'
@import './hero.styl'
@import './footer.styl'

$burger-ease ?= cubic-bezier(0.77, 0.2, 0.05, 1)

/*
 * Global
 */
html.bottom
  background-color $color--black

body
  background-color $color--white

a[href]
  position relative
  display inline-block
  text-decoration none
  transition all 0.25s ease
  color $color--primary
  link-interactive-on()
  // font-weight 600

#wrapper
  position relative
  overflow hidden

.round-background
  content ''
  display block
  position absolute
  left 50%
  transform translate(-50%, 0)
  $s = 320
  width 130%
  height 130vw
  min-width size($s)
  min-height 10000px
  border-top-left-radius size($s / 2)
  border-top-right-radius size($s / 2)

+media-down('xs')
  .round-background
    $s = 256
    min-width size($s)
    border-top-left-radius size($s / 2)
    border-top-right-radius size($s / 2)

+media-up('lg')
  .round-background
    border-top-left-radius 100vw
    border-top-right-radius 100vw
/*
 * CONTENT
 */
#container
  position relative
  padding-top size(10)
  min-height calc(100vh - 408px)
  margin-top -50vh

header#header
  .round-background
    top 100vh

main#content
  padding size(4) size(13)

  header.header,
  article
    max-width size(74)
    margin 0 auto

  .entry-content
    position relative
    z-index 1

    .round-background
      position absolute
      z-index -1
      margin-top size(4)

    .padder
      padding-top size(20)


+media-down('xs')
  main#content
    padding size(4)

/*
 * Home
 */
body.home
  nav#menu
    .ctas
      visibility hidden
      opacity 0
      transition opacity 0.5s

    &.nav--at-container
      .ctas
        visibility visible
        opacity 1