@import './functions.styl'
@import './fonts.styl'
@import './colors.styl'
@import './spacing.styl'
@import './elevations.styl'
@import './interactivity.styl'
@import './responsivity.styl'
@import './typography.styl'
@import './nav.styl'
@import './mouse.styl'
@import './button.styl'
@import './footer.styl'

$burger-ease ?= cubic-bezier(0.77, 0.2, 0.05, 1)

body
  background-color $color--white

a[href]
  position relative
  display inline-block
  text-decoration none
  transition all 0.25s ease
  color $color--primary

  &:hover
    text-decoration underline
/*
 * CONTENT
 */
#container
  padding-top size(10)

main#content
  padding size(4)

  article
    max-width size(80)
    margin 0 auto
