:root
  --mouse-x -20px
  --mouse-y -20px

link-interactive-color($color)
  &::before
    background-color $color

link-interactive-on($color = currentColor)
  link-interactive-color($color)

  &::before, &::after
    content ''
    display inline-block
    width size(0.5)
    height 25%
    border-radius size(3)
    position absolute
    opacity 0
    transition opacity 0.1s, transform 0.35s ease, width 0.35s ease, border-radius 0.35s ease
    transform translate(-50%, -50%) scale(1, 1)
    bottom size(-0.75)
    left 50%

  // add also an invisible after element to avoid
  // flickerring on hover due to change of before size
  &::after
    width 100%

  &:hover, &:focus
    text-decoration none

    &::before
      opacity 1
      width 100%
      border-radius 0
      transform translate(-50%, -50%) scale(1, 0.25)

  &:focus
    outline none

link-interactive-off()
  &::before
    content '' !important
    display none !important