title-font()
  font-family 'Mukta', sans-serif

body-font()
  font-family 'Open Sans', sans-serif

html, body
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  body-font()

h1, h2, h3, h4, h5, h6, p, ul, li, label, small, caption, figcaption
  font-weight 400
  color inherit

h1, h2, h3, h4, h5, h6
  title-font()

p, ul, li, label, small, caption, button
  body-font()

h1, h2, h3, h4, h5, h6, p
  margin-top 0

h1, h2
  margin-bottom size(4)

h3, h4
  margin-bottom size(3)

h5, h6, p
  margin-bottom size(2)

caption, figcaption
  display inline-block
  text-align inherit
  width 100%

h1
  font-size 7 * $step
  line-height 7.5 * $step

h2
  font-size 5 * $step
  line-height 5.5 * $step

h3
  font-size 4 * $step
  line-height 4.5 * $step

h4
  font-size 3 * $step
  line-height 3.5 * $step

h5
  font-size 2.5 * $step
  line-height 3 * $step

h6
  font-size 2 * $step
  line-height 2.5 * $step

p, ul, li
  font-size 2 * $step
  line-height 3 * $step

caption, figcaption
  font-size 1.5 * $step
  line-height 2 * $step

button
  font-size 2 * $step
  line-height 3 * $step

li
  position relative
  display inline-flex
  margin-left 2 * $step

li:before
  content ''
  display inline-block
  position absolute
  left -2 * $step
  top 9px
  width 6px
  height 6px
  border-radius 3px
  background-color $color--secondary
  transition background-color 0.3s ease

li:hover:before
  background-color $color--tertiary

+media-down('xs')
  h1
    font-size 5 * $step
    line-height 5.5 * $step